@import url('https://fonts.googleapis.com/css2?family=Aptos:wght@400;600&display=swap');

body {
  font-family: 'Segoe UI', 'Inter', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #f4f6f8;
  color: #333;
}

/* Navbar */
header {
  background-color: #333;
  padding: 15px 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #184403;
}

.navbar a.active {
  background-color: #0088cc;
}

